body
{
    overflow-x: hidden;
}
a.list-group-item
{
    background: #FAFFC1;
}
a.list-group-item:hover
{
    background-color:#00C1FE;
    color: black;
    border-radius: 5px;
}
.list-group-item
{
    
}
.list-group{
    min-width: 50px;
}